#bookList li {
  font-size:1em;
  padding:10px;
  border-bottom:1px solid #ccc;
}

#delButton:hover {
  cursor: pointer;
}

#delButton {
  padding:5px 10px;
  font-size:0.8em;
  position:absolute;
  right:10px;
}

li{
  list-style: none;
}