* {
  font-family: sans-serif;
}

html, body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}

p {
  text-align: center;
}

h1 {
  font-size: 38px;
  text-align: center;
  margin: 0;
  margin-bottom: 20px;
}

h2 {
  margin: 20px 0 10px 0;
  font-size: 36px;
  text-align: center;
}

.form {
  text-align: center;
}

.form > input {
  margin-bottom: 10px;
  width: 280px;
  height: 30px;
}

.form > button {
  width: 285px;
  height: 40px;
}

#cards {
  width: 70%;
  margin: auto;
  margin-top: 50px;
}

#cards .card {
  margin-top: 20px;
  padding: 20px;
  border-radius: 8px;
  border: 1px solid black;
  background-color: #eee;
  margin-bottom: 20px;
}

#cards .card > .user {
  font-size: 24px;
}